<ion-header>
  <ion-toolbar>
    <ion-title>Ma bibliothèque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Création d'un nouveau jeu</h2>
  <ion-button routerLink="/tab/jeux/new">Création</ion-button>
  <h2>Liste des jeux</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let jeu of jeux">
        <ion-list [routerLink]="['/tab/jeux/', jeu.id]">
          <ion-item>
            <img [src]="jeu.img" [alt]="jeu.title">
          </ion-item>
          <ion-item>
            {{jeu.title}}
          </ion-item>
          <ion-item>
            {{jeu.editeur}}
          </ion-item>
          <ion-item>
            {{jeu.description}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
