<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h2>A propos du site</h2> 
  <ion-row>
    <ion-col>
      <p>
        Ce site permet de voir la liste de certains des jeux les plus incroyables qui ont pu être créés. Il est possible que vous ne soyez pas d'accord avec les jeux enregistrés, mais pas de panique et pas la peine de vous énerver car vous pouvez ajouter vous même des jeux dans cette liste !
      </p><br>
      <p>
        Vous avez aussi la possibilitée de modifier les jeux déjà enregistrer si certaines informations sont incorrects ou que vous avez d'autres informations à rajouter.
      </p>
    </ion-col>
  </ion-row>
</ion-content>
